body, .main_panel {
    padding: 25px; 
    font-size: small; 
    font-family : Verdana, sans-serif;
}
body {background-color: #ddddee;}
.nav_panel {text-align: right}
.main_panel {border: solid 3px #aaa; background-color: #ccccee}
.create_panel {border: solid 2px #aaa; padding: 15px; background-color: #bbbbee}

.greasemonkey_panel {border: solid 2px #aaa; padding: 0px 10px 20px 10px; 
                     background-color: #ddddee}

/* inplace_textbox */
.label {
    font-size: 1em;
    font-weight: normal;
	padding: 1px 1px 0px 0px;
}

table.alias {
	border-width: 0px 0px 0px 0px;
	border-spacing: 1px;
	border-style: none none none none;
	border-color: black black black black;
	border-collapse: separate;
}
table.alias th {
	border-width: 0px 0px 0px 0px;
	padding: 2px 2px 2px 10px;
	border-style: solid solid solid solid;
	border-color: black black black black;
	-moz-border-radius: 0px 0px 0px 0px;
}
table.alias td {
	border-width: 0px 0px 0px 0px;
	padding: 3px 3px 3px 10px;
	border-style: solid solid solid solid;
	border-color: black black black black;
	-moz-border-radius: 1px 1px 1px 1px;
}
tr.d0 td {
    background-color: #eeeeee;
}
tr.d1 td {
    background-color: #ddddee;
}
